<div class="heading ion-padding">
  <ion-header style="position: absolute; top: 0; left: 0;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
      </ion-buttons>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<div id="contenido" style=" height: 100%; display: flex; flex-direction: column;">
  <ion-content [fullscreen]="true">
    <br>
    <br>
    <div class="content-section ion-text-center ion-padding">
      <div class="content1">
        <ion-label>
          <br>
          <h1>Correcto!!!</h1>
          <img src="assets/img/on.png" alt="">
          <h3>La repuesta ha sido valida <br>
            su contrasena es la siguiente:</h3>
          <br>
          <h2>{{password}}</h2>

        </ion-label>
      </div>
      <div class="content2">
        <ion-label>
          <br>
          <a (click)="volverAlInicio()">Iniciar sesion</a>
        </ion-label>
      </div>
    </div>
  </ion-content>
</div>