<div class="heading ion-padding">
  <ion-header style="position: absolute; top: 0; left: 0;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
      </ion-buttons>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<div id="contenido" style=" height: 100%; display: flex; flex-direction: column;">
  <ion-content [fullscreen]="true">
    <br>
    <br>
    <div class="content-section ion-text-center ion-padding">
      <div class="content1">
        <ion-label class="ion-text-center">
          <br><br>
          <h1>Responda la pregunta secreta</h1>
          <br>
          <h2>{{ preguntaSecreta }}</h2>
        </ion-label>
      </div>

      <div class="content2">
        <ion-label>
          <ion-card>
            <ion-item>
              <ion-label position="floating">Respuesta</ion-label>
              <ion-input [(ngModel)]="respuestaSecreta" placeholder="Ingrese su respuesta secreta"></ion-input>
            </ion-item>
          </ion-card>
          <br>
          <ion-card>
            <ion-button expand="full" (click)="comprobarRespuesta(respuestaSecreta)">Verificar Respuesta</ion-button>
          </ion-card>
        </ion-label>

        <ion-label>
          <br>
          <a (click)="volverIngreso()">Iniciar sesion</a>
        </ion-label>
      </div>

    </div>
  </ion-content>
</div>