<div class="heading ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" #titulo>
        <img src="assets/img/Logo_DuocUC.svg.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content [fullscreen]="true">
  <div class="inicio-section ion-padding">
    <div class="content-section ion-text-center ion-padding">
      <h1>¡Bienvenido!</h1>
      <h2 *ngIf="usuario">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
      <p style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
        Escanee el codigo QR para registrar tu asistencia a clases</p>
      <form>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" shape="round">
                <ion-icon slot="start" name="videocam-outline"></ion-icon>
                Comenzar Escaneo de QR
              </ion-button>
              <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" shape="round">
                <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
                Detener escaneo de QR
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="cambioPag()">Mi clase</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <video #video [hidden]="!escaneando" width="100%"></video>
            <canvas #canvas hidden></canvas>
          </ion-row>
        </ion-grid>
      </form>
      <a routerLink="/ingreso">Cerrar sesion</a>
    </div>
  </div>
</ion-content>