<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Navegador</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="cambioPag()">Mi clase</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <img src="assets/img/Logo_DuocUC.svg.png" alt="">
  <ion-content class="ion-padding">
    <ion-title class="ion-padding-top">
      <ion-label class="ion-text-center">
        <h1>¡Bienvenido!</h1>
        <h2 *ngIf="usuario">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
        <p style="white-space: normal; word-wrap: break-word; overflow-wrap: break-word;">
          Escanee el codigo QR para registrar tu asistencia a clases</p>
      </ion-label>
    </ion-title>
    <ion-card class="ion-text-center ion-padding-vertical">
      <form>
        <ion-grid>
          <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
            <ion-icon slot="start" name="videocam-outline"></ion-icon>
            Comenzar Escaneo de QR
          </ion-button>

          <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
            <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
            Detener escaneo de QR
          </ion-button>

          <video #video [hidden]="!escaneando" width="100%"></video>
          <canvas #canvas hidden></canvas>
        </ion-grid>
      </form>

      <ion-label>
        <br>
        <a routerLink="/ingreso">Cerrar sesion</a>
      </ion-label>
    </ion-card>
  </ion-content>
</div>