<div id="contenido" style=" height: 100%; display: flex; flex-direction: column;">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <img src="assets/img/Logo_DuocUC.svg.png" alt="" #titulo>
      <ion-segment [(ngModel)]="componente_actual" (ngModelChange)="cambiarComponente($event)">
        <ion-segment-button value="qr">
          <ion-label>QR</ion-label>
        </ion-segment-button>
        <ion-segment-button value="misdatos">
          <ion-label>Mis datos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="miclase">
          <ion-label>Mi clase</ion-label>
        </ion-segment-button>
        <ion-segment-button value="foro">
          <ion-label>Foro</ion-label>
        </ion-segment-button>
        <ion-segment-button value="admin">
          <ion-label>Admin</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>
    <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>
    <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>
    <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
    <app-admin [hidden]="componente_actual !== 'admin'"></app-admin>
  </ion-content>

  <ion-footer [translucent]="true">
    <ion-toolbar class="ion-text-center">
      <ion-button (click)="cerrarSesion()" fill="clear" shape="round">
        Cerrar sesión
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</div>