<div class="heading ion-padding">
  <ion-header style="position: absolute; top: 0; left: 0;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
      </ion-buttons>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content [fullscreen]="true">
  <br>
  <br>
  <div class="content-section ion-text-center ion-padding">
    <div class="content1">
      <ion-label>
        <br>
        <h1>Lo sentimos...</h1>
        <img src="assets/img/off.png" alt="">
        <h3>Los datos ingresados no son validos, porfavor intentelo nuevamente.</h3>
      </ion-label>
    </div>
    <div class="content2">
      <ion-label>
        <br>
        <a routerLink="/ingreso">Iniciar sesion</a>
      </ion-label>
    </div>
  </div>
</ion-content>

