<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<div id="contenido" style=" height: 100%; display: flex; flex-direction: column;">
  <ion-content [fullscreen]="true">
    <br>
    <br>
    <div class="content-section ion-text-center ion-padding">
      <div class="content1">
        <ion-label>
          <br>
          <ion-title>Recuperar contraseña</ion-title>
          <br>
          <ion-title>Paso 1: Ingrese su correo</ion-title>
        </ion-label>
      </div>
      <div class="content2">
        <ion-label>
          <form>
            <ion-item>
              <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="correo"></ion-input>
            </ion-item>
            <br>
            <ion-button shape="block" (click)="comprobarCorreo(correo)">Recuperar contraseña</ion-button>
          </form>
        </ion-label>

        <ion-label>
          <br>
          <a (click)="volverIngreso()">Iniciar sesion</a>
        </ion-label>
      </div>
    </div>
  </ion-content>
</div>