<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text="Atras" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/img/DUOC.jpg" alt="">
  <h1>Datos de la asignatura</h1>
  <ion-card class="ion-text-center ion-padding-vertical">
    <ion-grid>
      <ion-row>
        <!-- Columna para etiquetas -->
        <ion-col size="6" class="ion-text-left">
          <ion-label>
            <p>Sede</p>
            <p>Sigla</p>
            <p>Seccion</p>
            <p>Nombre asignatura</p>
            <p>Nombre profesor</p>
            <p>Dia</p>
            <p>Bloque de inicio</p>
            <p>Bloque de termino</p>
            <p>Hora de inicio</p>
            <p>Hora de termino</p>
          </ion-label>
        </ion-col>
        <!-- Columna para datos -->
        <ion-col size="6" class="ion-text-right">
          <ion-label>
            <p>{{sede}}</p>
            <p>{{idAsignatura}}</p>
            <p>{{seccion}}</p>
            <p>{{nombreAsignatura}}</p>
            <p>{{nombreProfesor}}</p>
            <p>{{dia}}</p>
            <p>{{bloqueInicio}}</p>
            <p>{{bloqueTermino}}</p>
            <p>{{horaInicio}}</p>
            <p>{{horaFin}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label>
      <br>
      <a routerLink="/ingreso">Cerrar sesión</a>
    </ion-label>
  </ion-card>
</ion-content>