.custom-row {
  max-width: 50px;
  /* Ajusta el ancho máximo según tus preferencias */
}

ion-input {
  --background: rgba(55, 55, 55, 0);

}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
}

ion-item {
  --background: rgba(85, 61, 9, 0.7);
}

.content-section {
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 74vh;
}

p {
  color: #fff;
}
